@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.articlePage {
  // Variables ...
  --enj-articlePage-Banner-marg: #{$spacing-07};

  // Declarations ...
  .banner,
  .article {
    margin-bottom: var(--enj-articlePage-Banner-marg);
  }

  @include breakpoint('md') {
    --enj-articlePage-Banner-marg: #{$spacing-08};
  }

  @include breakpoint('lg') {
    --enj-articlePage-Banner-marg: #{$spacing-10};
  }

  // @include breakpoint('xlg') {
  // }
}
