@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.articlePage {
  // Variables ...
  // (Same spacing rules must apply on home/page.modules.scss > .pageSection)
  --enj-articlePage-Banner-marg: #{$spacing-07};

  // Declarations ...
  // background-color: $gray-20;

  .banner,
  .article {
    margin-bottom: var(--enj-articlePage-Banner-marg);
  }

  // @include breakpoint('md') {
  //   border: 5px solid orange;
  // }

  @include breakpoint('lg') {
    --enj-articlePage-Banner-marg: #{$spacing-13};
  }

  // @include breakpoint('xlg') {
  // }
}
