@use '@carbon/react';

.cds--content {
  padding: 0;
}

/**
 * smt-box: Scroll Margin Top Box
 Gap between the viewport top and the component's top-edge 
**/
.smt-box {
  scroll-margin-top: 80px;

  // The gap is higher for this specific section
  &#scope-of-expertise {
    scroll-margin-top: 160px;
  }
}
