
.enj-AppHeader {
  // Declarations ...
  --enjanga-appHead-color0: #fff;
  --enjanga-appHead-color1: #191947;
  --enjanga-appHead-color2: #F81C9A;
  --enjanga-appHead-color3: #526890;

  --enjanga-appHead-header__nav-ml: auto;
  --enjanga-appHead-header__menu-item-ml: 1rem;

  
  border-block-end: 0px solid; // eliminate bottom border
  background-color: var(--enjanga-appHead-color1);


  .header-inner {
    border-block-end: 1ch solid var(--enjanga-appHead-color3);
  }


  .cds--header__menu-trigger>svg {
    fill: var(--enjanga-appHead-color0);
  }

  
  .cds--header__name {
    color: var(--enjanga-appHead-color2);
  }


  .cds--header__nav {
    margin-left: var(--enjanga-appHead-header__nav-ml);

    &:before { // Eliminate vertical separation bar
      display: none;
    }
  }



  .cds--header__menu-bar {
    a.cds--header__menu-item {
      color: var(--enjanga-appHead-color0);
      background-color: var(--enjanga-appHead-color1);
      margin-left: var(--enjanga-appHead-header__menu-item-ml);

      &:hover {
        color: var(--enjanga-appHead-color2);
      }
    }




  // Current menu items
  a.cds--header__menu-item--current {
    color: var(--enjanga-appHead-color2);
  } 
  .cds--header__menu-item--current:after, a.cds--header__menu-item[aria-current=page]:after {
    background-color: var(--enjanga-appHead-color2);
  }



  }
}





