@use 'enjanga-core-setup/styles-breakpoint' as bp;

.background-section {
  // Declarations:
  --enj-bg-section-background-size: center -22rem;
  --enj-bg-section-linear-gradient: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 1));


  position: relative;
  // overflow: hidden;
  min-height: 100vh;
  width: 100%;

  .background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: var(--enj-bg-section-background-size);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    transform: translateZ(0);
    will-change: transform;
  }

  /* ✅ Parallax effect for desktop only */
  .background-layer.parallax {
    background-attachment: fixed;
  }

  /* ✅ Dark gradient overlay */
  .background-overlay {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--enj-bg-section-linear-gradient);
    z-index: 1;
    pointer-events: none;
  }

  /* ✅ Foreground content */
  .background-content {
    z-index: 2;
  }




  @include bp.breakpoint('md') {
    --enj-bg-section-background-size: center; 
    --enj-bg-section-linear-gradient: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.6));
  }
}
