@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use './../styles/utils/mixins';

.articlePage {
  // Variables ...
  --enj-articlePage-Banner-marg: #{$spacing-07};

  // Declarations ...
  .articlePage-banner {
    // margin-bottom: var(--enj-articlePage-Banner-marg);
    @include mixins.PSS-marginBottom-xl;
  }
  .articlePage-content {
    // margin-bottom: var(--enj-articlePage-Banner-marg);
    @include mixins.PSS-marginBottom-xxl;
  }

  @include breakpoint('md') {
    --enj-articlePage-Banner-marg: #{$spacing-08};
  }

  @include breakpoint('lg') {
    --enj-articlePage-Banner-marg: #{$spacing-10};
  }

  // @include breakpoint('xlg') {
  // }
}
