@use 'enjanga-core-setup/styles' as core;

.enj-AppHeader {
  // Correcting menu item padding
  // NOTE: I might have a problem on mobile
  .cds--header__name,
  a.cds--header__menu-item {
    padding: 0.8rem 1rem;
  }

  .cds--header__name,
  a.cds--header__menu-item {
    &:hover {
      color: #fff;
      background-color: #0547c4;
    }
  }

  .cds--header__action {
    &:active {
      background-color: #0547c4;
      svg {
        fill: #fff;
      }
    }
  }
}
