@use './utils/small-cleanup';
@use './utils/section-spacing';
@use './utils/skeleton';

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:where(
    a,
    button,
    [role='button'],
    [tabindex]:not([tabindex='-1'])
  ):focus-visible {
  outline: 3px solid #0f62fe;
  outline-offset: 3px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
