@use 'enjanga-core-setup/styles-breakpoint' as bp;

/**
 * Expertise section (panels)
 * ----------------------------
**/ 
.section-expertises {
  // Variables ...
  --enj-tabspanel-introhead-font-size: 1rem;
  --enj-tabspanel-intro-mg: 0 0 1.2rem 0;

  .enjanga-tabpanel-xxx {
    // Eliminate subgrid extra margin
    > .cds--css-grid-column {
      margin: 0;
    }

    // Overrides ".enj-gridSys" margin-top feature
    @include bp.breakpoint('md') {  
      .enj-gridSys__cols-wrapper { 
        .cds--css-grid-column:nth-of-type(2) { 
          margin-top: 0;
        }
      }
    }  
  }


  .tab-content {  
    .intro-text {
      margin: var(--enj-tabspanel-intro-mg);

      p {
        font-size: var(--enj-tabspanel-introhead-font-size);
      }
    }
  }


  /**
   * Variables' responsiveness
   * --------------------
  */
  @include bp.breakpoint('lg') { 
    --enj-tabspanel-introhead-font-size: 1.15rem;
  }
}