@use 'enjanga-core-setup/styles-breakpoint' as bp;


:root {
  --enj-spacing-gap: 4rem;
  --enj-tabCont-grid-tc: unset;
  --enj-tabCont-mxw: 100%;
  --enj-tabCont-wrap-padd: 1.5rem 0 0 0;
}


.aboutSection {
  // Variables ...
  --enj-aboutSec-height: 950px;
  --enj-aboutSec-title-top: -2.4rem;

  // Declarations ...
  background-color: #737b85;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: var(--enj-aboutSec-height);


  

  @include bp.breakpoint('md') {
    --enj-aboutSec-height: 840px;
    --enj-aboutSec-title-top: -2.5rem;
  }

  @include bp.breakpoint('lg') {
    --enj-aboutSec-height: 780px;
    --enj-aboutSec-title-top: -3.2rem;
  }

  @include bp.breakpoint('xlg') {
    --enj-aboutSec-height: 750px;
  }

  @include bp.breakpoint('max') {
    --enj-aboutSec-height: 850px;
  }

  #about-me-heading {
    position: absolute;
    top: var(--enj-aboutSec-title-top);
  }
}





.tiles-wrapper {
  display: grid;
  gap: 0.7rem;
  max-width: var(--enj-tabCont-mxw);
  grid-template-columns: var(--enj-tabCont-grid-tc);
}


.section-spcaing-wrapper {
  padding-top: var(--enj-spacing-gap);
  padding-bottom: var(--enj-spacing-gap);
}
