@use 'enjanga-core-setup/styles-breakpoint' as bp;

/**
 * About section
 * ----------------------------
**/ 
.aboutSection {
  // Variables ...
  --enj-aboutSec-height: 950px;
  --enj-aboutSec-title-top: -2.4rem;

  // Declarations ...
  background-color: #737b85;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: var(--enj-aboutSec-height);


  // Override ":first-of-type" rule (_enj-grid-system) so that 
  // the first element can have a top margin
  .enj-gridSys {
    .enj-gridSys__cols-wrapper {
      .cds--css-grid-column:first-of-type {
        margin-top: var(--enj-grid-content-gap);
      }
    }
  }

  @include bp.breakpoint('md') {
    --enj-aboutSec-height: 840px;
    --enj-aboutSec-title-top: -2.5rem;
  }

  @include bp.breakpoint('lg') {
    --enj-aboutSec-height: 780px;
    --enj-aboutSec-title-top: -3.2rem;
  }

  @include bp.breakpoint('xlg') {
    --enj-aboutSec-height: 750px;
  }

  @include bp.breakpoint('max') {
    --enj-aboutSec-height: 850px;
  }

  #about-me-heading {
    position: absolute;
    top: var(--enj-aboutSec-title-top);
  }
}
