@use 'enjanga-core-setup/styles' as core;
@use './vars';

// PSS: Page Section Spacing
@mixin PSS-marginBottom-xxl {
  margin-bottom: var(--enj-page-section-sapcing-xxl);

  @include core.breakpoint('md') {
    --enj-page-section-sapcing-xxl: #{core.$spacing-11};
  }

  @include core.breakpoint('lg') {
    --enj-page-section-sapcing-xxl: #{core.$spacing-13};
  }
}
@mixin PSS-marginBottom-xl {
  margin-bottom: var(--enj-page-section-sapcing-xl);

  @include core.breakpoint('md') {
    --enj-page-section-sapcing-xl: 2rem;
  }

  @include core.breakpoint('lg') {
    --enj-page-section-sapcing-xl: 4rem;
  }

  @include core.breakpoint('xlg') {
    --enj-page-section-sapcing-xl: 6.5rem;
  }
}

// PSS: Page Content Spacing
@mixin PCS-paddingTop {
  padding-top: var(--enj-page-section-sapcing-xl);

  @include core.breakpoint('md') {
    --enj-page-section-sapcing-xl: 2rem;
  }

  @include core.breakpoint('lg') {
    --enj-page-section-sapcing-xl: 4rem;
  }

  @include core.breakpoint('xlg') {
    --enj-page-section-sapcing-xl: 6.5rem;
  }
}
