@use 'enjanga-core-setup/styles-breakpoint' as bp;

:root {
  --enj-spacing-gap: 4rem;
}

.page-section-spacing {
  display: flex;
  flex-direction: column;
  gap: var(--enj-spacing-gap);

  @include bp.breakpoint('md') {
    --enj-spacing-gap: 5rem;
  }

  @include bp.breakpoint('lg') {
    --enj-spacing-gap: 6rem;
  } 

  @include bp.breakpoint('xlg') {
    --enj-spacing-gap: 7rem;
  } 
}


.section-spacing-wrapper {
  padding-top: var(--enj-spacing-gap);
  padding-bottom: var(--enj-spacing-gap);
}
