@use 'enjanga-core-setup/styles' as core; 

.SectionOfTabs {
  // --enj-home-quotes-font-size: 1.25rem;
  // --enj-home-quotes-line-height: 2rem;

  /* 
    Override Carbon's default min-block-size on .cds--tabs.
    By default, Carbon sets: min-block-size: var(--cds-layout-size-height-local);
    In some layouts this forces an unnecessarily large block-size, which pushes
    the tablist outside its container and causes a horizontal scrollbar.
    
    Setting min-block-size: auto lets the tab height be defined by its content
    (and Carbon’s padding/line-height), preventing overflow without breaking
    visual consistency.
  */
  .cds--tabs { 
    // inline-size: auto;
    // border: 4px solid orange;
  }


  @include core.breakpoint('sm') {
    border: 5px solid blueviolet;
  }

  @include core.breakpoint('md') {
    border: 5px solid blue;
    // --enj-home-quotes-font-size: 1.25rem;
    // --enj-home-quotes-line-height: 2rem;
  }

  @include core.breakpoint('lg') {
    border: 5px solid brown; 
    // --enj-home-quotes-font-size: 1.4rem;
    // --enj-home-quotes-line-height: 2.25rem;
  }

  @include core.breakpoint('xlg') {
    border: 5px solid mediumorchid;
    // --enj-home-quotes-font-size: 1.563rem;
    // --enj-home-quotes-line-height: 2.625rem;
  }

  @include core.breakpoint('max') {
    border: 5px dashed mediumvioletred; 
    // --enj-home-quotes-font-size: 1.75rem;
    // --enj-home-quotes-line-height: 2.875rem;
  }

  // border: 14px solid blue;
}
