@use 'enjanga-core-setup/styles' as core;
@use 'styles/utils' as utils; // mixins, vars, ...

/**
 * TO DO:
 --------
  Find these design tokens and replace them in the code:
  - #8f8793;
 */

.homePage {
  // Variables ...
  --enj-home-section-title-mb: 0.5rem;

  .pageSection {
    position: relative;
    @include utils.PSS-marginBottom-xxl;
  }

  // Custom tile found in many places all over the app
  .home-customTile {
    .enj-CustomTile-title {
      margin: 0;
    }
  }

  .sectionTitle {
    margin-bottom: var(--enj-home-section-title-mb);

    // @include core.breakpoint('md') {}

    @include core.breakpoint('lg') {
      --enj-home-section-title-mb: 0.75rem;
    }
  }
}
