@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.homePage {
  // Variables ...
  --enj-home-exprt-head-top: -80px;
  --enj-home-exprt-tabs-top: -41px;
  --enj-home-section-sapcing: #{$spacing-08};

  .pageSection {
    position: relative;
    margin-bottom: var(--enj-home-section-sapcing);

    @include breakpoint('md') {
      --enj-home-section-sapcing: #{$spacing-11};
    }

    @include breakpoint('lg') {
      --enj-home-section-sapcing: #{$spacing-13};
    }
  }

  .section-expertises {
    // Declarations ...
    &-heading,
    &-tabs {
      position: absolute;
    }
    &-heading {
      top: var(--enj-home-exprt-head-top);

      @include breakpoint('md') {
        --enj-home-exprt-head-top: -90px;
      }

      @include breakpoint('lg') {
        --enj-home-exprt-head-top: -110px;
      }

      // @include breakpoint('xlg') {
      // }
    }

    &-tabs {
      top: var(--enj-home-exprt-tabs-top);
      // border: 10px solid purple;
    }
  }
}
