@use 'enjanga-core-setup/styles-breakpoint' as bp;
@use 'enjanga-core-setup/styles-spacing' as sp;



.articlePage,
.blogPage { 
  // HR separators
  // -----------
  .enj-CMSRichText { 
    // Declarations ...
    --enj-CMSRichText-hr-gap-override: #{sp.$spacing-08};

    @include bp.breakpoint('md') { 
      --enj-CMSRichText-hr-gap-override: #{sp.$spacing-09};
    }

    @include bp.breakpoint('lg') { 
      --enj-CMSRichText-hr-gap-override: #{sp.$spacing-10};
    }

    @include bp.breakpoint('xlg') { 
      --enj-CMSRichText-hr-gap-override: #{sp.$spacing-11};
    }

    hr {
      margin: var(--enj-CMSRichText-hr-gap-override) 0;
    }
  }
}