@use 'enjanga-core-setup/styles' as core;

/**
 * TO DO:
 --------
  Find these design tokens and replace them in the code:
  - #00D5FF 
 */

.app-footer {
  // Variables ...
  --enj-footer-padd: #{core.$spacing-09};
  --enj-footer-marg: #{core.$spacing-05};
  --enj-block-marg: #{core.$spacing-06};

  // Declarations ...
  padding: var(--enj-footer-padd) 0;
  background-color: core.$cool-gray-90;

  &__col1 {
    margin-bottom: var(--enj-block-marg);
  }

  &__logo {
    font-size: 1.9rem;
  }

  .enj-BrandLogo--text {
    color: core.$cool-gray-40;
  }

  .enj-CMSRichText {
    p:last-of-type,
    ul {
      margin-bottom: 0;
      li {
        color: core.$text-on-color;

        a {
          color: core.$text-on-color;
          text-decoration: underline;
          &:hover {
            color: #00d5ff;
            text-decoration: none;
          }
        }
      }
    }

    // List headings ...
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      color: #00d5ff;
    }

    a {
      color: core.$purple-70;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .copyright {
    margin-bottom: var(--enj-block-marg);

    .enj-CMSRichText {
      color: core.$cool-gray-30;
    }
  }

  @include core.breakpoint('md') {
    --enj-footer-padd: #{core.$spacing-10};
  }

  @include core.breakpoint('lg') {
    --enj-footer-padd: #{core.$spacing-11};
    --enj-footer-marg: #{core.$spacing-07};
    --enj-block-marg: 0;
  }

  @include core.breakpoint('xlg') {
    --enj-footer-padd: #{core.$spacing-12};
  }

  hr {
    margin: var(--enj-footer-marg) 0;
    border-color: core.$cool-gray-60;
  }
}
