@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;

.footer {
  // ...
  --enj-footer-padd: #{$spacing-09};
  --enj-footer-marg: #{$spacing-05};
  --enj-block-marg: #{$spacing-06};

  // ...
  padding: var(--enj-footer-padd) 0;
  background-color: $gray-20;

  &__col1 {
    margin-bottom: var(--enj-block-marg);
  }

  .list {
    margin-bottom: var(--enj-block-marg);
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .copyright {
    margin-bottom: var(--enj-block-marg);
  }

  @include breakpoint('md') {
    --enj-footer-padd: #{$spacing-10};
  }

  @include breakpoint('lg') {
    --enj-footer-padd: #{$spacing-11};
    --enj-footer-marg: #{$spacing-07};
    --enj-block-marg: 0;
  }

  @include breakpoint('xlg') {
    --enj-footer-padd: #{$spacing-12};
  }

  hr {
    margin: var(--enj-footer-marg) 0;
  }
}
