.app-footer {
  // Variables ...
  --enj-footer-title-mrg: 0.75rem;
  // TODO: Convert to enjanga-core-setup color token
  --enjanga-color1: #E3EBF9;
  --enjanga-color2: #526890;
  --enjanga-color3: #C7DBFF;
  --enjanga-color4: #191947;

  // Declarations ...
  margin-top: var(--enj-spacing-gap);
  background-color: var(--enjanga-color4); 
  text-align: center;

  h3 {
    color: var(--enjanga-color1);
  }
  p {
    color: var(--enjanga-color3);
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 634px;

    hr {
      margin: 2rem 0;
      border-color: var(--enjanga-color2);  
    }
  }

  &__text {
    p {
      font-size: 1.2rem;
      line-height: 1.9rem;
    }
  }

  &__copyright {
    p {
      margin-bottom: 0!important;
      border: 2px solid var(--enjanga-color2);
    }
  }
}
