@use 'enjanga-core-setup/styles' as core;


.app-footer {
  // Variables ...
  --enj-footer-padd: #{core.$spacing-09};
  --enj-footer-title-mrg: 0.75rem;
  // TODO: Convert to enjanga-core-setup color token
  --enjanga-color1: #E3EBF9;
  --enjanga-color2: #526890;
  --enjanga-color3: #F96DBD;
  --enjanga-color4: #191947;
  --enjanga-color5: #00bcfe;

  // Declarations ...
  padding: var(--enj-footer-padd) 0;
  background-color: var(--enjanga-color4); 


  h3 {
    border-bottom: 1px solid var(--enjanga-color2);
    margin-bottom: var(--enj-footer-title-mrg);
  }

  h3, p {
    color: var(--enjanga-color1);
  }

  // Menu ...
  // Current menu items ...
  a.cds--header__menu-item[aria-current=page] {
    text-decoration: underline;
    color: var(--enjanga-color1);

    &::after {
      block-size: 0px; // Eliminate bottom border
    }
  }

  a {
    color: var(--enjanga-color3);
    text-decoration: none;

    // Overriding Carbon's styles
    padding: 0;
    border-width: 0;
    font-size: 100%;
    background-color: transparent;

    &:hover {
      // Adjusting hover state experience
      cursor: pointer;
      color: var(--enjanga-color1);
      background-color: transparent;
      text-decoration: underline;
    }

    &:active,
    &:focus {
      // Adjusting acrive and focus state experience
      color: var(--enjanga-color1);
      text-decoration: underline;
    }
  }

  ul, ol {
    padding: 0;

    li {
      margin-bottom: 1rem;
    }
    p {
      > span:first-of-type {
        display: block;
      }
    }
  }

  .enj-CMSRichText {
    figure {
      background-color: transparent;
      padding: 0;

      img {
        margin: 0;
        width: 100%;
      }
    }
    figcaption {
      display: none;
    }
  }

  @include core.breakpoint('md') {
    --enj-footer-padd: #{core.$spacing-10};
  }

  @include core.breakpoint('lg') {
    --enj-footer-title-mrg: 1.5rem;
    --enj-footer-padd: #{core.$spacing-11};
  }

  @include core.breakpoint('xlg') {
    --enj-footer-padd: #{core.$spacing-12};
  }
}
